/**
 * Calendar toolbar
 */
.availability-calendar-toolbar {
	padding-bottom: 15px;
	font-size: 1.4em;
	font-weight: bold;
}

.availability-calendar-toolbar span:last-child {float: right}

.availability-calendar-toolbar input {
	padding: 7px 14px;
	background: #F5F5F5;
	background-image: linear-gradient(to bottom, #FFF, #E6E6E6);
	border: 1px solid #BBB;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	font-weight: bold;
	cursor: pointer;
	outline: 0;
}

.availability-calendar-toolbar input:first-child {
	margin-right: 5px;
	padding: 8px 14px;
	border-radius: 6px;
}

.availability-calendar-toolbar input:nth-child(2) {border-radius: 6px 0 0 6px}

.availability-calendar-toolbar input:last-child {
	margin-left: -1px;
	border-radius: 0 6px 6px 0;
}

.availability-calendar-toolbar input:hover {
	background: #E5E5E5;
	background-image: linear-gradient(to bottom, #EEE, #D6D6D6);
}

.availability-calendar-toolbar input:active {
	background: #D5D5D5;
	background-image: linear-gradient(to bottom, #DDD, #C6C6C6);
}


/**
 * Calendar table and cells
 */
.availability-calendar {
	width: 100%;
	background: #FFF;
	table-layout: fixed;
	border-collapse: collapse;
}

.availability-calendar th, .availability-calendar td {
	border: 1px solid #DDD;
	padding: 5px;
}

.availability-calendar td {
	height: 100px;
	vertical-align: top;
	text-align: right;
}

.availability-calendar .ex-month {opacity: 0.4}
.availability-calendar .unavailable {position: relative}

.availability-calendar .unavailable div {
	position: absolute;
	top: 40%;
	left: 0;
	right: -1px;
	height: 30px;
	background: #F88;
	border-top: 1px solid #A33;
	border-bottom: 1px solid #A33;
}

.availability-calendar .unavailable:last-child div {right: 0}

.availability-calendar .unavailable .first {
	left: 51%;
	border-radius: 6px 0 0 6px;
	border-left: 1px solid #A33;
}

.availability-calendar .unavailable .last {
	right: 51%;
	border-radius: 0 6px 6px 0;
	border-right: 1px solid #A33;
}

/*navbar*/

.container1
 {
     background-color: yellowgreen;
 }

.jumbotron {
    position: relative;
    padding: 40px 0;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
    background: #020031;
    background: -moz-linear-gradient(45deg, #020031 0%, #6d3353 100%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#020031), color-stop(100%,#6d3353));
    background: -webkit-linear-gradient(45deg, #020031 0%,#6d3353 100%);
    background: -o-linear-gradient(45deg, #020031 0%,#6d3353 100%);
    background: -ms-linear-gradient(45deg, #020031 0%,#6d3353 100%);
    background: linear-gradient(45deg, #020031 0%,#6d3353 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#020031', endColorstr='#6d3353',GradientType=1 );
    -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
    -moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
    box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
}
/*
.jumbotron::after {
    content: '';
    display: block;
    position: relative; /* changed by me */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(../img/bs-docs-masthead-pattern.png) repeat center center;
    opacity: .4;
}
.jumbotron {
    margin-bottom: 0px;
    background-image: src(images/screenshot.png);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
}
.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.btn-signin {
    /*background-color: #4d90fe; */
    background-color: #ff6600;
    /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}
.card-container.card {
    width: 350px;
    padding: 40px 40px;
}
body, html {
    height: 100%;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgb(255, 230, 209), rgb(146, 164, 133));
}
.card {
    background-color: #F7F7F7;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.card-container.card {
    width: 350px;
    padding: 40px 40px;
}



/*navbar*/

.mt-100 {
    margin-top: 100px;
}
.mb-100 {
    margin-bottom: 100px;
}

.icon {
    width: 32px;
    height: 32px;
    text-align: center;
    padding: 7px 8px;
    border: 2px solid;
    border-radius: 50%;
}

.header {
    padding-top: 50px;
    background-color: #eee;
    overflow: hidden;
}
.footer {
    color: #887;
    background-color: #eee;
    padding-top: 30px;
    padding-bottom: 30px;
}

.content {
    position: relative;
    display: table;
    width: 100%;
    min-height: 100vh;
}
.pull-middle {
    display: table-cell;
    vertical-align: middle;
}

.btn {
    padding-left: 25px;
    padding-right: 25px;
}
.btn-circle {
    border-radius: 20px;
}

.input-group input {
    border: 0;
    box-shadow: none;
    padding-right: 30px;
}
.input-group input:focus,
.input-group input:active {
    outline: 0;
    box-shadow: none;
}
.input-group-btn:last-child>.btn {
    z-index: 2;
    margin-left: -18px;
    border-radius: 20px;
}

.phone {
    position: relative;
    max-width: 276px;
    margin: 80px auto;
    padding: 45px 9px 68px;
    border: 2px solid #ddd;
    border-radius: 20px;
    background-color: #222;
    box-shadow: 20px 20px 40px #887;
}

.btn {
	background-color: #DB6562;
	color: white;
}

.label {
	background-color: #DB6562;
}
