/* Login form */

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}

#login-dp .help-block{
    font-size:12px
}

#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}

#login-dp .form-group {
    margin-bottom: 10px;
}

#login-dp .btn {
  background-color: #e27e03;
  color: white;
}

/* Register form */

#registerModal {
    background-color:rgba(100,100,100,.5);
}

#registerModal .modal-content {
    min-width: 250px;
    padding: 14px 14px 0;
    overflow: hidden;
    background-color:rgba(255,255,255,.8);
}

#registerModal .form-group {
    margin-bottom: 15px;
}

#registerModal .btn {
    background-color: #e27e03;
    color: white;
}

/* Navbar color */

.btn {
	background-color: #e27e03;
	color: white;
}

.btn:hover {
	background-color: #fd971c;
	color: white;
}

.label {
	background-color: #e27e03;
}

/****** Responsiveness ******/

/* Big screens */
@media screen and (min-width: 480px) {
  footer {
    font-size: 100%;
  }
  .navbar-brand,
  .navbar-nav .navbar-head {
      line-height: 75px;
      height: 75px;
      padding-top: 0;
  }

  .navbar-nav .navbar-btn {
    margin-top: 21px;
  }

  /* Others */
  #logo_title {
    width: 30px;
  }

  #text_title {
    font-size: 125%
  }
}

/* Small screens */
@media only screen and (max-width: 480px) {
  footer {
    font-size: 75%;
  }

  /* Others */
  #logo_title {
    width: 25px;
  }

  #text_title {
    font-size: 62,5%
  }
}
