.fa {
  padding: 1px;
  font-size: 35px;
  text-align: center;
  text-decoration: none;
  width: 35px;
  height: 35px;
  border-radius: 20%;
}

.fa:hover {
  text-decoration: none;
  color: #FFFFFF;
  opacity: 0.8;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
