 .footer {
   position: fixed;
   bottom: 0;
   width: 100%;
   /* Set the fixed height of the footer here */
   height: 30px;
   background-color: #f5f5f5;
 }

body{
  background-image: url("../imgs/background_inscription.png");
  background-size: cover;
}
