.body{
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  margin-right: auto;
  margin-left: auto;
}

#section1{
  background-size: cover;
  color: #fff;
  text-align: center;
}

#section2{
  padding: 70px;
  color: #3D4957;
  vertical-align: top;
  text-align: center;
  background-color: #F9FAFC;
}

#section3{
  padding-top:50px;
  height:700px;
  color: #fff;
  background-color: #444;
}

@media screen and (min-width: 480px){
  footer{
    font-size: 100%;
  }
  #section1{
    background-image: url("../imgs/map_pin.jpg");
  }

}
@media screen and (max-width: 480px){
  footer{
    font-size: 75%;
  }
  #section1{
    background-image: url("../imgs/map_pin_mobile.jpg");
  }
}
